# --------------------------------------------------
# PYTHON
# --------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.log

# Arquivos de build
build/
dist/
*.egg-info/

# --------------------------------------------------
# VENV
# --------------------------------------------------
venv/
ENV/
env/
.venv/

# --------------------------------------------------
# FASTAPI / UVICORN
# --------------------------------------------------
*.pid

# --------------------------------------------------
# MODELOS / IA
# --------------------------------------------------
*.pth
*.pt
*.onnx
*.ckpt
checkpoints/
weights/
models/

# --------------------------------------------------
# DATASETS / INPUTS
# --------------------------------------------------
dataset/
datasets/
data/
*.zip
*.tar
*.tar.gz
*.rar

# --------------------------------------------------
# MÍDIA TEMPORÁRIA
# --------------------------------------------------
temp/
tmp/
*.tmp
*.temp

# Vídeos e imagens enviados para teste
uploads/
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.webp

# --------------------------------------------------
# EDITORES
# --------------------------------------------------
.vscode/
.idea/
*.swp

# --------------------------------------------------
# SISTEMA
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# DOCKER
# --------------------------------------------------
docker-data/
*.log
